<style type='text/css'> 
        img {max-width: 100%;height:initial;} 
        div,table,tbody,tr,td,p,span,a {width: 100%;}
        blockquote {width: 100%;margin-right: 0px;margin-left: 0px;}
        iframe {max-width: 100%}
</style>